*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    background-color: #E5E5FD;
    border: 10px solid #1d1e4c;
}

.content{
    max-width: 1400px;
    margin: 50px;
}

.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top_section h1{
    font-size: 50px;
    font-weight: bold;
    color: #1d1e4c;
}

.top_section h4{
    font-size: 30px;
    font-weight: bold;
    color: #1d1e4c;
    align-items: end;
}

.image_container img{
    border-radius: 45%;
}

.image_container, .name{
    flex: 1;
    padding: 10px;
}

.about_section{
    margin-top: 50px;
}

.about_section h2{
    font-size: 35px;
    font-weight: 600;
    margin: 10px;
}

.about_section p{
    margin: 10px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: justify;
}

.biography_section{
    margin: 10px;
}

.biography_section h3{
    margin-top: 50px;
    font-size: 30px;
}

.biography_section ul{
    margin-left: 10px;
}

.biography_section li{
    font-size: 17px;
    margin: 15px 0 0 15px;
}

footer{
    margin: 50px 0;
    text-align: end;
}

footer a{
    text-decoration: none;
}